<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/952d0773-491e-43ac-aea3-e623658c463b/resourcegroups/Api-Orcamento20250601140915ResourceGroup/providers/Microsoft.Web/sites/Api-Orcamento20250601140915</ResourceId>
    <ResourceGroup>Api-Orcamento20250601140915ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/952d0773-491e-43ac-aea3-e623658c463b/resourceGroups/Api-Orcamento20250601140915ResourceGroup/providers/Microsoft.ApiManagement/service/Api-Orcamentoapi/apis/Api-Orcamento</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://api-orcamento20250601140915.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>222fd96b-4315-4736-871b-4316a174124b</ProjectGuid>
    <MSDeployServiceURL>api-orcamento20250601140915.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Api-Orcamento20250601140915</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$Api-Orcamento20250601140915</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>